In [1]:
A = [' M.S. Dhoni is running towards the #catch.', 'M.S. Dhoni is better than Gilchrist','Gilchrist is better than M.S. Dhoni','M.S. Dhoni is the no 1 football player','M.S. Dhoni M.S. Dhoni GilchristGilchrist']

In [2]:
import pandas as pd
data = pd.DataFrame({'tweet_text':A})

In [ ]:
data['tweet_text']

In [3]:
#Number of Words
data['word_count'] = data['tweet_text'].apply(lambda x: len(str(x).split(" ")))
data[['tweet_text','word_count']].head()

                                   tweet_text  word_count
0   M.S. Dhoni is running towards the #catch.           8
1         M.S. Dhoni is better than Gilchrist           6
2         Gilchrist is better than M.S. Dhoni           6
3      M.S. Dhoni is the no 1 football player           8
4    M.S. Dhoni M.S. Dhoni GilchristGilchrist           5

In [4]:
#Number of characters
data['char_count'] = data['tweet_text'].str.len() ## this also includes spaces
data[['tweet_text','char_count']].head()

                                   tweet_text  char_count
0   M.S. Dhoni is running towards the #catch.          42
1         M.S. Dhoni is better than Gilchrist          35
2         Gilchrist is better than M.S. Dhoni          35
3      M.S. Dhoni is the no 1 football player          38
4    M.S. Dhoni M.S. Dhoni GilchristGilchrist          40

In [5]:
#Average Word Length
#Number of characters(without space count)/Total number of words
def avg_word(sentence):
  words = sentence.split()
  print(words)
  print(len(words))
  print(sum(len(word) for word in words))
  return (sum(len(word) for word in words)/len(words))

data['avg_word'] = data['tweet_text'].apply(lambda x: avg_word(x))
data[['tweet_text','avg_word']].head()

['M.S.', 'Dhoni', 'is', 'running', 'towards', 'the', '#catch.']
7
35
['M.S.', 'Dhoni', 'is', 'better', 'than', 'Gilchrist']
6
30
['Gilchrist', 'is', 'better', 'than', 'M.S.', 'Dhoni']
6
30
['M.S.', 'Dhoni', 'is', 'the', 'no', '1', 'football', 'player']
8
31
['M.S.', 'Dhoni', 'M.S.', 'Dhoni', 'GilchristGilchrist']
5
36

                                   tweet_text  avg_word
0   M.S. Dhoni is running towards the #catch.     5.000
1         M.S. Dhoni is better than Gilchrist     5.000
2         Gilchrist is better than M.S. Dhoni     5.000
3      M.S. Dhoni is the no 1 football player     3.875
4    M.S. Dhoni M.S. Dhoni GilchristGilchrist     7.200

In [6]:
#Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['stopwords'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['tweet_text','stopwords']].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sahil\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                   tweet_text  stopwords
0   M.S. Dhoni is running towards the #catch.          2
1         M.S. Dhoni is better than Gilchrist          2
2         Gilchrist is better than M.S. Dhoni          2
3      M.S. Dhoni is the no 1 football player          3
4    M.S. Dhoni M.S. Dhoni GilchristGilchrist          0

In [7]:
#Number of special characters
data['hastags'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['tweet_text','hastags']].head()

                                   tweet_text  hastags
0   M.S. Dhoni is running towards the #catch.        1
1         M.S. Dhoni is better than Gilchrist        0
2         Gilchrist is better than M.S. Dhoni        0
3      M.S. Dhoni is the no 1 football player        0
4    M.S. Dhoni M.S. Dhoni GilchristGilchrist        0

In [8]:
#Number of numerics
data['numerics'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['tweet_text','numerics']].head()

                                   tweet_text  numerics
0   M.S. Dhoni is running towards the #catch.         0
1         M.S. Dhoni is better than Gilchrist         0
2         Gilchrist is better than M.S. Dhoni         0
3      M.S. Dhoni is the no 1 football player         1
4    M.S. Dhoni M.S. Dhoni GilchristGilchrist         0

In [9]:
#Number of Uppercase words
data['upper'] = data['tweet_text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['tweet_text','upper']].head()

                                   tweet_text  upper
0   M.S. Dhoni is running towards the #catch.      1
1         M.S. Dhoni is better than Gilchrist      1
2         Gilchrist is better than M.S. Dhoni      1
3      M.S. Dhoni is the no 1 football player      1
4    M.S. Dhoni M.S. Dhoni GilchristGilchrist      2

In [11]:
pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

# function to check and get the part of speech tag count of a words in a given sentence

from textblob import TextBlob, Word, Blobber
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
                print(ppo, tup)
    except:
        pass
    return cnt

data['noun_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'noun'))
data['verb_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'verb'))
data['adj_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'adj'))
data['adv_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'adv'))
data['pron_count'] = data['tweet_text'].apply(lambda x: check_pos_tag(x, 'pron'))
data[['tweet_text','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

ModuleNotFoundError: No module named 'textblob'

In [12]:
data.head()

,tweet_text,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,M.S. Dhoni is running towards the #catch.,8,42,5.000,2,1,0,1
1,M.S. Dhoni is better than Gilchrist,6,35,5.000,2,0,0,1
2,Gilchrist is better than M.S. Dhoni,6,35,5.000,2,0,0,1
3,M.S. Dhoni is the no 1 football player,8,38,3.875,3,0,1,1
4,M.S. Dhoni M.S. Dhoni GilchristGilchrist,5,40,7.200,0,0,0,2

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
cv=CountVectorizer()
A_vec = cv.fit_transform(A)
print(A_vec.toarray())

[[0 1 1 0 0 0 1 0 0 1 0 1 1]
 [1 0 1 0 1 0 1 0 0 0 1 0 0]
 [1 0 1 0 1 0 1 0 0 0 1 0 0]
 [0 0 1 1 0 0 1 1 1 0 0 1 0]
 [0 0 2 0 0 1 0 0 0 0 0 0 0]]

In [15]:
tv=TfidfVectorizer()
t_vec = tv.fit_transform(A)
print(t_vec.toarray())

[[0.         0.48821902 0.23263898 0.         0.         0.
  0.27505408 0.         0.         0.48821902 0.         0.39389203
  0.48821902]
 [0.51054657 0.         0.30153703 0.         0.51054657 0.
  0.35651373 0.         0.         0.         0.51054657 0.
  0.        ]
 [0.51054657 0.         0.30153703 0.         0.51054657 0.
  0.35651373 0.         0.         0.         0.51054657 0.
  0.        ]
 [0.         0.         0.23263898 0.48821902 0.         0.
  0.27505408 0.48821902 0.48821902 0.         0.         0.39389203
  0.        ]
 [0.         0.         0.68989419 0.         0.         0.72391022
  0.         0.         0.         0.         0.         0.
  0.        ]]

In [16]:
feature_names = tv.get_feature_names()

dense = t_vec.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [17]:
feature_names

['better',
 'catch',
 'dhoni',
 'football',
 'gilchrist',
 'gilchristgilchrist',
 'is',
 'no',
 'player',
 'running',
 'than',
 'the',
 'towards']

In [18]:
df_c =pd.concat([df,data], axis=1)
df_c.head()

,better,catch,dhoni,football,gilchrist,gilchristgilchrist,is,no,player,running,...,the,towards,tweet_text,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,0.000000,0.488219,0.232639,0.000000,0.000000,0.00000,0.275054,0.000000,0.000000,0.488219,...,0.393892,0.488219,M.S. Dhoni is running towards the #catch.,8,42,5.000,2,1,0,1
1,0.510547,0.000000,0.301537,0.000000,0.510547,0.00000,0.356514,0.000000,0.000000,0.000000,...,0.000000,0.000000,M.S. Dhoni is better than Gilchrist,6,35,5.000,2,0,0,1
2,0.510547,0.000000,0.301537,0.000000,0.510547,0.00000,0.356514,0.000000,0.000000,0.000000,...,0.000000,0.000000,Gilchrist is better than M.S. Dhoni,6,35,5.000,2,0,0,1
3,0.000000,0.000000,0.232639,0.488219,0.000000,0.00000,0.275054,0.488219,0.488219,0.000000,...,0.393892,0.000000,M.S. Dhoni is the no 1 football player,8,38,3.875,3,0,1,1
4,0.000000,0.000000,0.689894,0.000000,0.000000,0.72391,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,M.S. Dhoni M.S. Dhoni GilchristGilchrist,5,40,7.200,0,0,0,2